.hashTop{
    margin-top:14.04vh;
    padding:3.33vh 0 3.33vh 4.27vw;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    overflow-wrap: normal;
}

.cdHash{
    height: 3.69vh;
    padding: 0 3.5vw;
    background-color: white;
    border-radius: 32px;
    color: #0A74D8;
    margin-right:2.13vw;
    font-size: 14px;
    font-weight: 700;
    box-sizing: border-box;
    border:1px solid #0A74D8;
}

.cdSelected{
    background-color: #0A74D8;
    color: white;
}

.titleBox{
    height: 4.43vh;
    padding-left: 4.27vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size:18px;
}

.titleBox>img{
    height: 4.43vh;
}

.edtPickBox{
    padding: 1.11vh 0 4.93vh 4.27vw;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    overflow-wrap: normal;
    display: flex;
}

.edList{
    margin-right: 3.47vw;
    height: 19.95vh;
    border-radius: 10px;
    width: 37.33vw;
    background-image: url(./activity/editor1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    color:white;
    font-weight: 800;
}

.conTitle{
    font-weight: 700;
    font-size: 9px;
    margin-bottom: 5px;
}

.aTitle{
    font-size: 12px;
    margin-bottom: 5px;
}

.nTitle{
    font-size: 14px;
}

.filter{
    height: 19.95vh;
    width: 37.33vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.45) 0%, rgba(255, 255, 255, 0) 100%); ;
}

.sub{
    padding-left: 4.27vw;
    font-weight: 700;
    font-size: 12px;
    color: #c4c4c4;
}

.userPickBox{
    padding: 2.96vh 0 2vh 4.27vw;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    overflow-wrap: normal;
    display: flex;
}

.userList{
    position: relative;
    margin-right: 3.2vw;
    height: 30.91vh;
    border-radius: 10px;
    width: 64.53vw;
    background-image: url(./activity/userpick1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    color:white;
    font-weight: 800;
}

.filter2{
    height: 30.91vh;
    width: 64.53vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.45) 0%, rgba(255, 255, 255, 0) 100%); ;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
}

.conTitle2{
    font-weight: 700;
    font-size: 12px;
    padding-left:3.2vw;
}

.userTitle{
    margin-top:5px;
    font-weight: 800;
    font-size: 18px;
    padding-left:3.2vw;
    padding-bottom: 1.72vh;
}

.listAnimal{
    z-index: 2;
    width: 19.2vw;
    position: absolute;
    right:0;
    top:-3.7vh;
}

.triangle{
    z-index: 2;
    height: 2vh;
    position: absolute;
    right:8vw;
    top:3vh;
}

.levelInfo{
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    padding:1vh 3vw;
    background-color: #0A74D8;
    border-radius: 32px;
    right:2vw;
    top:5vh;
}